#header {
    position: fixed;
    top: 0;
    left: 0;
    color: black;    
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: grey;    
}
p {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}
#header h1 {
    font-size: 24px;
    font-weight: bold;
    color : blue;
}