/*TARGETING ELEMENT STYLE IN CSS/ TAGS */
h1 {
    color: blue;
    font-family: 'Times New Roman', Times, serifs-serif;
    text-align: center;
    font-size: 36px;
}
a {
    color: blue;
    text-decoration: none;
    text-decoration: underline;
    font-size: 20px;
    text-transform: uppercase;
}
p {
    color: blue;
    font-size: 18px;
    line-height: 1.5;
}
span {
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
#footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
div {
    color: blue;
    background-color: lightgrey;
}